/**COLORS**/
$PrimaryColor: #175ea8;
$WarningColor: orange;
$DangerColor: #e5441a;
$LinkColor: #b4f2ff;
$FontBlackColor: #32373c;
$White: #ffffff;
$NeutralDark: #32373c;
$Neutral: #f5f5f5;
$ButtonColor: #f9e6b3;

/**BACKGROUNDS**/
$OverlayBackground: rgba(0, 0, 0, 0.4);
$LightBackground: rgba(255, 255, 255, 0.4);
$DarkBackground: rgba(0, 0, 0, 0.7);
$LoginBackground: #e8f7ff;
$AllBackground: #f4f7f8;

/**FONTS**/
$TextSize: 16px;
$PrimaryTitleSize: 2rem;
$SecondaryTitleSize: 1.8rem;
$PrimarySubTitleSize: 1.3rem;
$SecondarySubTitleSize: 1.2rem;
$LegendSize: 0.7rem;

/**SPACINGS**/
$PaddingDefault: 1rem;
$MarginDefault: 1rem;

$SmallResolution: 576px;
$MediumResolution: 768px;
$LargeResolution: 992px;
$XLargeResolution: 1200px;
$XXLargeResolution: 1400px;
